{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('portfolio_index') }}
{% endblock %}

{% block body %}
    <div class="landing-container">
        <div class="anchors">
            <h1 class="rellax header underline" data-rellax-speed="10">{{ 'header.portfolio'|trans }}</h1>
            <div class="links">
                <a href="#tufting" class="link">{{ 'portfolio.anchors.tufting'|trans }}</a>
                <a href="#weaving" class="link">{{ 'portfolio.anchors.weaving'|trans }}</a>
                <a href="#japan" class="link">{{ 'portfolio.anchors.japan'|trans }}</a>
            </div>
        </div>
        <i class="fas fa-chevron-down fa-2x"></i>
    </div>
    <div class="tufting-container section">
        <h1 class="title" id="tufting">{{ 'portfolio.anchors.tufting'|trans }}</h1>
        <div class="text">
            <p>{{ 'portfolio.tufting_first'|trans|raw }}</p>
            <p>{{ 'portfolio.tufting_second'|trans }}</p>
        </div>
        <div class="img-container keen-slider" id="slider1">
            <img class="transparent keen-slider__slide number-slide1" src="{{ asset('img/portfolio/tuftage01.jpg')| imagine_filter('cover') }}" alt="tufting image 1">
            <img class="transparent keen-slider__slide number-slide2" src="{{ asset('img/portfolio/tuftage03.JPG')| imagine_filter('cover') }}" alt="tufting image 2">
            <img class="transparent keen-slider__slide number-slide3" src="{{ asset('img/portfolio/tuftage06.jpg')| imagine_filter('cover') }}" alt="tufting image 3">
            <img class="keen-slider__slide number-slide4" src="{{ asset('img/portfolio/tuftage02.jpg')| imagine_filter('cover') }}" alt="tufting image 4">
{#            <img class="keen-slider__slide number-slide5" src="{{ asset('img/portfolio/tuftage05.JPG')| imagine_filter('cover') }}" alt="tufting image 5">#}
        </div>
    </div>
    <div class="weaving-container section">
        <h1 class="title" id="weaving">{{ 'portfolio.anchors.weaving'|trans }}</h1>
        <div class="text">
            <p>{{ 'portfolio.weaving.first_p'|trans }}</p>
            <p>{{ 'portfolio.weaving.second_p'|trans }}</p>
            <p>{{ 'portfolio.weaving.third_p'|trans }}</p>
        </div>
        <div class="img-container keen-slider" id="slider2">
            <img class="keen-slider__slide number-slide1" src="{{ asset('img/portfolio/tissage05.JPG')| imagine_filter('cover') }}" alt="Weaving image 1">
            <img class="keen-slider__slide number-slide2" src="{{ asset('img/portfolio/tissage01.jpg')| imagine_filter('cover') }}" alt="Weaving image 2">
            <img class="keen-slider__slide number-slide3" src="{{ asset('img/portfolio/tissage02.JPG')| imagine_filter('cover') }}" alt="Weaving image 3">
            <img class="keen-slider__slide number-slide4" src="{{ asset('img/portfolio/tissage03.JPG')| imagine_filter('cover') }}" alt="Weaving image 4">
        </div>
    </div>
    <div class="japan-container section">
        <h1 class="title" id="japan">{{ 'portfolio.anchors.japan'|trans }}</h1>
        <div class="text">
            <p>{{ 'portfolio.japan.first_p'|trans|raw }}</p>
        </div>
        <div class="img-container keen-slider" id="slider3">
            <img class="keen-slider__slide number-slide1" src="{{ asset('img/portfolio/japan-2.JPG')| imagine_filter('cover') }}" alt="Japan image 2">
            <img class="keen-slider__slide number-slide2" src="{{ asset('img/portfolio/japan-3.jpg')| imagine_filter('cover') }}" alt="Japan image 2">
            <img class="keen-slider__slide number-slide3" src="{{ asset('img/portfolio/japan-4.jpg')| imagine_filter('cover') }}" alt="Japan image 2">
            <img class="keen-slider__slide number-slide4" src="{{ asset('img/portfolio/japan-1.jpg')| imagine_filter('cover') }}" alt="Japan image 1">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('portfolio_index') }}
{% endblock %}
