{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('add_item') }}
{% endblock %}

{% block body %}
    <div class="previews-container">
        <div class="card card-prototype" >
            <img src="" class="card-img-top" alt="preview">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
    </div>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add_item') }}
{% endblock %}
