{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('add_item') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_row(form.price) }}
        {{ form_row(form.shippingFee) }}
        {{ form_row(form.shippingFeeEurope) }}
        {{ form_row(form.shippingFeeWorld) }}
        {{ form_row(form.descriptionEn) }}
        {{ form_row(form.descriptionFr) }}
        {{ form_row(form.compositionEn) }}
        {{ form_row(form.compositionFr) }}
        {{ form_row(form.coverFile) }}
        {{ form_row(form.size) }}
        {{ form_row(form.images) }}
        <button type="button" class="add-image btn btn-secondary w-100 my-2">Add image</button>
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add_item') }}
{% endblock %}
