{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    <div class="one-page-scroll-container" id="scroll-container">
        <section class="hero-container row no-gutters">
            <div class="hero left">
                <h1 class="name-title">Clotilde <br> Puy</h1>
                <h2 class="hero-description">{{ 'homepage.hero.description'|trans }}</h2>
            </div>
            <div class="right">
                <div class="square">
                    <img class="layer" data-depth="0.1" src="{{ asset('img/homepage-tapis-min.png') }}" alt="Clotilde Puy tapis sample">
                </div>
            </div>
            <a href="#1" class="arrow-link">
                <i class="fas fa-chevron-down"></i>
            </a>
        </section>
        <section class="last-project-container row no-gutters">
            <div class="left">
                <div class="item">
                    {% if item %}
                        <h2 class="title">{{ 'homepage.latest'|trans }}</h2>
                        <h3 class="item-title">{{ item.name }}</h3>
                        <img src="{{ vich_uploader_asset(item, 'coverFile') | imagine_filter('cover') }}" alt="{{ item.name }}">
                        <a href="{{ path('shop_item_show', {'slug': item.slug}) }}" class="shop-item btn btn-light btn-lg">{{ 'homepage.btn.shop'|trans }}</a>
                    {% else %}
                        <div class="no-content">
                            <p class="alert alert-light">{{ 'homepage.no_content'|trans }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="right">
                <div class="description">
                    <h3>{{ 'homepage.project.description'|trans }}</h3>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
