{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('collaboration_form') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <div class="editor"></div>
        {{ form_row(form.coverFile) }}
        {{ form_row(form.images) }}
        {{ form_row(form.disabled) }}
        <button type="button" class="add-image btn btn-secondary w-100 my-2">Add slide image</button>
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('collaboration_form') }}
{% endblock %}
