{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('item_show') }}
{% endblock %}

{% block body %}
    <div class="item-container">
        <div class="title-container">
            <h1 class="title">{{ item.name }}</h1>
        </div>
        <div class="row no-gutters">
            <div class="left">
                <div class="navigation-wrapper">
                    <div id="keen-slider" class="keen-slider">
                        <div class="keen-slider__slide number-slide1">
                            <img src="{{ vich_uploader_asset(item, 'coverFile') | imagine_filter('slide') }}"
                                 alt="{{ item.name }} cover">
                        </div>
                        {% for slider in item.images %}
                            <div class="keen-slider__slide number-slide{{ loop.index + 1 }}">
                                <img src="{{ vich_uploader_asset(slider, 'imageFile') | imagine_filter('slide') }}"
                                     alt="{{ item.name }} image">
                            </div>
                        {% endfor %}
                    </div>
                    <span id="arrow-left" class="arrow arrow--left">
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </span>
                    <span id="arrow-right" class="arrow arrow--right">
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </span>
                </div>
                <div id="dots" class="dots"></div>
            </div>
            <div class="right">
                {% set description = item|localeField('Description', app.request.locale) %}
                <p class="description">{{ description }}</p>
                <div class="info">
                    <ul>
                        {% set composition = item|localeField('Composition', app.request.locale) %}
                        {% if composition %}
                            <li>
                                <span class="info-title">{{ 'item.composition'|trans }}</span>
                                <p class="composition">{{ composition }}</p>
                            </li>
                        {% endif %}
                        {% if item.size %}
                            <li>
                                <span class="info-title">{{ 'item.size'|trans }}</span>
                                <p class="size">{{ item.size }}</p>
                            </li>
                        {% endif %}
                        <li>
                            <span class="info-title">{{ 'item.price'|trans }}</span>
                            <span class="price">{{ item.price|format_currency('EUR') }}</span>
                        </li>
                    </ul>
                </div>
                {% if not item.sold %}
                    <button id="checkout-button" class="buy btn btn-lg btn-secondary"
                            data-href="{{ path('checkout_session', {'slug': item.slug}) }}"
                            data-stripe="{{ stripe_public_key }}"
                    >
                        {{ 'btn.buy'|trans }}
                    </button>
                    <button type="button" class="btn" data-toggle="modal" data-target="#noShipping">{{ 'shop.no_shipping.button'|trans }}</button>
                {% endif %}
            </div>
        </div>
        <div class="modal fade" id="noShipping" tabindex="-1" role="dialog" aria-labelledby="noShippingLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'shop.no_shipping.description'|trans }}</p>
                        <p>{{ 'shop.no_shipping.pickup'|trans }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
                        <button type="button" class="btn btn-secondary no-shipping-buy"
                            data-href="{{ path('checkout_session', {'slug': item.slug, 'shipping': false}) }}"
                            data-stripe="{{ stripe_public_key }}"
                        >{{ 'btn.buy'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('item_show') }}
{% endblock %}
