{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('item_show') }}
{% endblock %}

{% block body %}
    <div class="item-container">
        <div class="title-container">
            <h1 class="title">{{ item.name }}</h1>
        </div>
        <div class="row no-gutters">
            <div class="left">
                <div class="navigation-wrapper">
                    <div id="keen-slider" class="keen-slider">
                        <div class="keen-slider__slide number-slide1">
                            <img src="{{ vich_uploader_asset(item, 'coverFile') | imagine_filter('slide') }}"
                                 alt="{{ item.name }} cover">
                        </div>
                        {% for slider in item.images %}
                            <div class="keen-slider__slide number-slide{{ loop.index + 1 }}">
                                <img src="{{ vich_uploader_asset(slider, 'imageFile') | imagine_filter('slide') }}"
                                     alt="{{ item.name }} image">
                            </div>
                        {% endfor %}
                    </div>
                    <span id="arrow-left" class="arrow arrow--left">
                        <i class="fas fa-chevron-left fa-2x"></i>
                    </span>
                    <span id="arrow-right" class="arrow arrow--right">
                        <i class="fas fa-chevron-right fa-2x"></i>
                    </span>
                </div>
                <div id="dots" class="dots"></div>
            </div>
            <div class="right">
                {% set description = item|localeField('Description', app.request.locale) %}
                <p class="description">{{ description }}</p>
                <div class="info">
                    <ul>
                        {% set composition = item|localeField('Composition', app.request.locale) %}
                        {% if composition %}
                            <li>
                                <span class="info-title">{{ 'item.composition'|trans }}</span>
                                <p class="composition">{{ composition }}</p>
                            </li>
                        {% endif %}
                        {% if item.size %}
                            <li>
                                <span class="info-title">{{ 'item.size'|trans }}</span>
                                <p class="size">{{ item.size }}</p>
                            </li>
                        {% endif %}
                        <li>
                            <span class="info-title">{{ 'item.price'|trans }}</span>
                            <span class="price">{{ item.price|format_currency('EUR') }}</span>
                        </li>
                    </ul>
                </div>
                {% if not item.sold %}
                    <a href="{{ path('add_item_cart', {'slug': item.slug}) }}" class="btn buy btn-lg btn-secondary add-item">
                        <span class="text">{{ 'btn.add_to_cart'|trans }}</span><span class="spinner-border spinner-border-sm"></span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="toast" data-delay="4000">
            <div class="toast-header">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">Your item was successfully added to the cart</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('item_show') }}
{% endblock %}
