{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-N04FQGV7F2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-N04FQGV7F2');
        </script>
        <meta charset="UTF-8">
        <meta name="keywords" content="Clotilde Puy, handmade, artisanal, tufting, weaving">
        <meta name="description" content="Clotilde Puy - Weaving and tufting made in France">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Clotilde Puy">
        <meta property="og:title" content="Clotilde Puy - E-commerce">
        <meta property="og:site_name" content="Clotilde Puy">
        <meta property="og:url" content="https://clotildepuy.com">
        <meta property="og:description" content="Clotilde Puy - Weaving and tufting made in France">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://clotildepuy.com/img/homepage-tapis-min.png">
        <title>{% block title %}Clotilde Puy{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
            <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main>
            {% include 'components/_header.html.twig' %}
            <div class="content">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert-{{ label }} alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
            <div class="footer">
                <a href="{{ path('legals_show') }}">{{ 'legals'|trans }}</a>
                <span>-</span>
                <span> © Clotilde Puy - {{ 'footer.reserved'|trans }}</span>
            </div>
        </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}
    </body>
</html>
