{% trans_default_domain 'app' %}

{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

{% set applocales = locales|split('|') %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item {{ 'homepage' in app.request.get('_route') ? 'active' }}">
                <a class="nav-link" href="{{ path('homepage_index') }}">{{ 'header.home'|trans }}</a>
            </li>
            <li class="nav-item {{ 'shop' in app.request.get('_route') ? 'active' }}">
                <a class="nav-link" href="{{ path('shop_index') }}">{{ 'header.shop'|trans }}</a>
            </li>
            <li class="nav-item {{ 'portfolio' in app.request.get('_route') ? 'active' }}">
                <a class="nav-link" href="{{ path('portfolio_index') }}">{{ 'header.portfolio'|trans }}</a>
            </li>
            <li class="nav-item {{ 'about' in app.request.get('_route') ? 'active' }}">
                <a class="nav-link" href="{{ path('about_index') }}">{{ 'header.about'|trans }}</a>
            </li>
            {% for locale in applocales %}
                {% if locale != app.request.locale %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(route, params|merge({ _locale: locale })) }}">{{ locale }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link instagram" target="_blank" href="https://www.instagram.com/clotilde.puy/"><i class="fab fa-instagram"></i></a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{{ path('cart_index') }}" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
            </li>
        </ul>
    </div>
</nav>